.header {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.navigation {
    width: 1216px;
    height: 110px;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.navigation__logo {
    width: 77.23px;
    height:79.37px;
}

.navigation__items {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.navigation__item {
    display: inline-block;
}
