@import url(../styles/normalize.css);
@import url(../blocks/header/header.css);
@import url(../blocks/company/company.css);
@import url(../blocks/form/form.css);
@import url(../blocks/button/button.css);
@import url(../fonts/stylesheet.css);
@import url(../blocks/logistics/logistics.css);
@import url(../blocks/consultation/consultation.css);
@import url(../blocks/aboutcompany/aboutcompany.css);
@import url(../blocks/reviews/reviews.css);
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;900&display=swap');



.page {
    font-family: 'Gilroy';
    max-width: 1366px;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
}